.calendarContainer{
  max-width: 1440px;
  width: 1440px;
}
#calendarController{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#calendarController #calendarInfo{
  cursor: default;
  margin: 0 10px;
}
#calendarController #leftBtn,
#calendarController #rightBtn{
  cursor: pointer;
}
.calendarWrapper{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .2);

}
.calendarWrapper .weekDays,
.calendarWrapper .days{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
.calendarWrapper .weekDays{
  padding: 10px 0;
  border: 1px solid rgba(0, 0, 0, .2);
  border-bottom: 0;
}
.calendarWrapper .days{
  border-top: 1px solid rgba(0, 0, 0, .2);
  text-align: left;
}
.days .daysItem{
  padding: 10px 0 70px 10px;
  border: 1px solid rgba(0, 0, 0, .2);
}
.days .daysItem.emptyItem{
  background-color: rgb(248, 248, 248);
  cursor: default;
}
.days .daysItem:hover{
  cursor: pointer;
  border: 1px solid rgb(100, 100, 255);
}
.days .emptyItem:hover{
  border: 1px solid rgba(0, 0, 0, .2);
}