* {
  transition: background-color 0.3s, color 0.3s;
}
.invisible {
  display: none;
}
body {
  height: 100%;
  background-color: #cacaca;
  display: flex;
  flex-direction: row;
  gap: 22px;
  height: 100vh;
}
/* 사이드바 전체 몸통 */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 20px;
  position: relative;
}
/* 사이드바 로고 */
.sidebar_logo {
  width: 150px;
  margin-top: 50px;
  margin-bottom: 80px;
  box-sizing: border-box;
  position: absolute;
}
.darkModeLogo {
  height: 73.81px;
  width: 150px;
}
/* 사이드바 토글 */
.sb_toggle {
  margin-left: auto;
  width: 22px;
  height: 20px;
  cursor: pointer;
  color: var(--color-rightGray);
}
.sb_toggle:hover {
  color: var(--color-blue);
}
/* 칸반보드,캘린더,문서,help */
.sidebar_icon {
  cursor: pointer;
  color: var(--color-rightGray);
}
.sidebar_btn {
  width: 50px;
  height: 50px;
}
.btn_text {
  color: var(--color-rightGray);
  font-weight: 800;
}
.iconContainer {
  margin-top: 180px;
}
.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 80px;
}
/* 마우스를 올렸을 때 */
.iconBox:hover .sidebar_icon {
  color: var(--color-blue);
}
.iconBox:hover .btn_text {
  color: var(--color-blue);
}

/* 미니 사이드바 */
/* 미니 사이드바 전체 몸통 */
.ms {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40px;
  border-radius: 10px;
  background-color: var(--bg-color);
  padding: 20px;
}
/* 사이드바 로고 */
.ms_logo {
  width: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* 사이드바 토글 */
.ms_toggle {
  position: absolute;
  right: 5px;
  top: 10px;
  margin-left: auto;
  width: 35px;
  height: 30px;
  cursor: pointer;
  color: var(--color-rightGray);
}
.ms_toggle:hover {
  color: var(--color-blue);
}
/* 칸반보드,캘린더,문서,help */
.ms_icon {
  cursor: pointer;
  color: var(--color-rightGray);
}
.ms_btn {
  width: 35px;
  height: 35px;
}
.btn_text {
  color: var(--btnText-color);
  font-weight: 800;
}
.ms_iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}
/* 마우스를 올렸을 때 */
.ms_iconBox:hover .ms_icon {
  color: var(--color-blue);
}
/* container */
.container {
  border-radius: 10px;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerIconBox {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 10px;
  right: 30px;
}
/* 라이트 다크 모드 토글 */
.modeToggle {
  display: flex;
  align-items: center;
  /* position: absolute;
  right: 70px;
  top: 10px; */
}
/* 토글 바 */
.modeToggleBar {
  color: var(--toggleBar-color);
  width: 90px;
  height: 40px;
}
/* 토글 원 */
#toggleCircle {
  display: flex;
  width: 50px;
  position: absolute;
  left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.toggleCircle:hover {
  transform: scale(1.05);
}
.toggleCircle:active {
  transition: 0.1s all ease;
  opacity: 0.8;
}
.modeCircle {
  color: var(--color-blue);
  width: 30px;
}
/* 해 달 */
.mode {
  transition: all 0.3s ease;
}
.mode {
  color: var(--white);
  position: absolute;
  left: 11%;
  top: 20%;
}
.moon {
  width: 18px;
  color: black;
}

/* 프로필 아이콘 */
.profile_icon {
  cursor: pointer;
  margin-top: 5px;
}
/* 로그아웃 모달창 */
.profileModal {
  position: absolute;
  right: 35px;
  top: 20px;
  width: 230px;
  height: 330px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 3px solid var(--border);
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 창 닫는 x 버튼 */
.closeModal {
  margin-left: auto;
  margin-right: 5px;
  margin-top: 5px;
  width: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--bg-color);
}
.closeModal:hover {
  transform: scale(1.3);
}
.closeModal:active {
  transform: scale(0.9);
}
/* 유저 이미지 */
.userImgbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border: 2px solid black;
  background-color: black;
  border-radius: 100%;
}
/* 유저 이름 */
.username {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.userEmail {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.logoutBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.logoutBtn {
  display: flex;
  width: 220px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--color-blue);
  color: var(--white);
  transition: all 0.1s ease;
}
.logoutBtn:hover {
  opacity: 0.9;
}
.logoutBtn:active {
  transform: scale(0.95);
}

/* 모달창 사라지는 애니매이션 */
@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-30px);
  }
}

/* 로그인 하기 전 화면  */
.beforeLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  width: 90%;
  height: 760px;
}

/* 

.beforeLogin .show {
  opacity: 1;
  transform: translateY(0);
}
*/
.beforeLogin h1 {
  font-weight: 700;
  margin-right: auto;
  user-select: none;
}
.animation1 {
  opacity: 0;
  transition: opacity 0.8s ease-out;
}
.animation1.show {
  opacity: 1;
  transition: opacity 0.8s ease-out;
}
.beforeLogin1 {
  font-size: 70px;
  margin-bottom: 100px;
}
.beforeLogin2,
.beforeLogin3,
.beforeLogin4 {
  font-size: 40px;
  margin-bottom: 30px;
  color: var(--color-darkGray);
}
.loginBtn {
  margin-top: 170px;
  width: 600px;
  height: 70px;
  border: none;
  border-radius: 10px;
  background-color: var(--color-blue);
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  transition: all 0.4s ease;
  cursor: pointer;
}
.loginBtn:hover {
  opacity: 0.9;
}
.signupBtn {
  cursor: pointer;
  color: var(--color-darkGray);
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 480px;
  text-decoration: underline;
}
/* 프로젝트가 없어요 화면 */
.notYet {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notYetText {
  font-size: 55px;
  font-weight: 700;
  color: var(--text-color);
}

/* 새 프로젝트 만들기 버튼 */
.makeProjectBtn {
  margin-top: 30px;
  background-color: #0064ff;
  color: white;
  padding: 20px 50px;
  border-radius: 10px;
  border: none;
  font-size: 27px;
  cursor: pointer;
  transition: all 0.1s ease;
  width: 400px;
}
.makeProjectBtn:hover {
  transform: scale(1.05);
}
.makeProjectBtn:active {
  transform: translateY(5px);
  transform: scale(0.97);
  opacity: 0.7;
}

/* 새 프로젝트 만들기 모달창 */
.new_project_wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 60px;
  right: 200px;
}

.newProjectModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  height: 700px;
  padding: 40px 50px;
  border: 2px solid var(--color-rightGray);
  border-radius: 30px;
  position: relative;
  background-color: var(--bg-color);
}
/* 안내 제목 */
.npTitle {
  margin-right: auto;
  margin: 0 auto 0 40px;
  font-weight: 500;
  font-size: 55px;
  color: var(--text-color);
}
/* 안내 내용 */
.npComment {
  margin: 10px auto 0 40px;
  width: 75%;
  font-weight: 500;
  color: var(--text-darkGray);
  padding-bottom: 10px;
  line-height: 25px;
}
/* input창 */
.projectInput {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0 40px;
}
#projectName {
  margin-bottom: 30px;
}
.pjInput {
  width: 700px;
  height: 40px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid var(--color-rightGray);
  font-size: 15px;
  background-color: #efefef;
}
.pjInput:focus {
  outline: none;
  border: 2px solid var(--color-blue);
  transition: none;
}
.projectInputLabel {
  margin-bottom: 10px;
  font-weight: 700;
}
.addMember {
  margin: 20px auto 0 40px;
}
/* 팀원 추가 */
.addMemberLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  font-weight: 700;
}
.addMemberBtn {
  margin-left: auto;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--blue2);
  color: var(--white);
  cursor: pointer;
}
.addMemberBtn:hover {
  opacity: 0.8;
}
.addMemberBtn:active {
  transform: scale(0.95);
}
.searchIcon {
  color: var(--bg-color);
}
/* 팀원 목록 */
.memberBox {
  width: 700px;
  padding: 15px;
  border: 2px solid var(--color-rightGray);
  background-color: #efefef;
  border-radius: 10px;
  height: 60px;
  color: var(--text-darkGray);
}
/* 생성 취소 버튼 */
.newProjectBtnBox {
  position: absolute;
  right: 50px;
  bottom: 30px;
  display: flex;
  gap: 20px;
}
.newProjectModalBtn {
  width: 130px;
  height: 45px;
  font-size: 19px;
  border-radius: 10px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.newProjectModalBtn:hover {
  opacity: 0.8;
}
.newProjectModalBtn:active {
  transform: scale(0.95);
}
.newProjectOkay {
  background-color: var(--color-blue);
  color: var(--white);
}

/* 멤버 추가 모달창 */
.addMemberModal {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  width: 250px;
  height: 300px;
  padding: 10px 5px;
  position: absolute;
  right: 120px;
  bottom: -5px;
  background-color: var(--bg-color);
}
.findMemberBox {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  border-bottom: solid 2px var(--color-rightGray);
  width: 100%;
}

.findMemberInput {
  padding: 5px 10px;
  height: 30px;
  width: 150px;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  color: var(--text-color);
  background-color: var(--bg-color);
}
.findMemberInput:focus {
  border: 0;
  outline: none;
}
.findMember {
  width: 50px;
  border-radius: 5px;
  height: 35px;
  background-color: var(--color-blue);
  color: var(--white);

  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease;
}

.findMember:hover {
  opacity: 0.8;
}
.findMember:active {
  transform: scale(0.95);
}
.memberLiBox {
  width: 100%;
  height: 100%;
}
.memberLiUl {
  width: 164px;
  position: absolute;
  display: none;
}
.memberLiUlLi {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px 10px;
  height: 40px;
  border: 2px solid black;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
.memberLiUlLi:hover {
  opacity: 0.8;
}
