* {
	transition: background-color 0.3s, color 0.3s;
}
.invisible {
	display: none;
}
body {
	height: 100%;
	background-color: var(--body-color);
	display: flex;
	flex-direction: row;
	gap: 22px;
	height: 100vh;
}
/* 사이드바 전체 몸통 */
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 200px;
	border-radius: 10px;
	background-color: var(--bg-color);
	padding: 20px;
}
/* 사이드바 로고 */
.sidebar_logo {
	width: 150px;
	margin-top: 50px;
	margin-bottom: 80px;
	box-sizing: border-box;
}
.darkModeLogo {
	height: 73.81px;
	width: 150px;
}
/* 사이드바 토글 */
.sb_toggle {
	margin-left: auto;
	width: 22px;
	height: 20px;
	cursor: pointer;
}
.sb_toggle:hover {
	color: var(--color-blue);
}
/* 칸반보드,캘린더,문서,help */
.sidebar_icon {
	cursor: pointer;
	color: var(--color-rightGray);
}
.sidebar_btn {
	width: 50px;
	height: 50px;
}
.btn_text {
	color: var(--color-rightGray);
	font-weight: 800;
}
.iconBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	margin-bottom: 80px;
}
/* 마우스를 올렸을 때 */
.iconBox:hover .sidebar_icon {
	color: var(--color-blue);
}
.iconBox:hover .btn_text {
	color: var(--color-blue);
}

/* 미니 사이드바 */
/* 미니 사이드바 전체 몸통 */
.ms {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 40px;
	border-radius: 10px;
	background-color: var(--bg-color);
	padding: 20px;
}
/* 사이드바 로고 */
.ms_logo {
	width: 40px;
	margin-top: 50px;
	margin-bottom: 100px;
}
/* 사이드바 토글 */
.ms_toggle {
	position: absolute;
	right: 5px;
	top: 10px;
	margin-left: auto;
	width: 35px;
	height: 30px;
	cursor: pointer;
	color: var(--color-rightGray);
}
.ms_toggle:hover {
	color: var(--color-blue);
}
/* 칸반보드,캘린더,문서,help */
.ms_icon {
	cursor: pointer;
	color: var(--color-rightGray);
}
.ms_btn {
	width: 35px;
	height: 35px;
}
.btn_text {
	color: var(--btnText-color);
	font-weight: 800;
}
.ms_iconBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-bottom: 80px;
}
/* 마우스를 올렸을 때 */
.ms_iconBox:hover .ms_icon {
	color: var(--color-blue);
}
/* container */
.container {
	border-radius: 10px;
	width: 100%;
	background-color: var(--bg-color);
}
.profile_icon {
	position: absolute;
	cursor: pointer;
	right: 20px;
	top: 10px;
}

.modeToggle {
	display: flex;
	align-items: center;
	position: absolute;
	right: 70px;
	top: 10px;
}
.modeToggleBar {
	color: var(--toggleBar-color);
	position: relative;
	width: 90px;
	height: 40px;
}
#toggleCircle {
	display: flex;
	width: 50px;
	position: absolute;
	left: 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.toggleCircle:hover {
	transform: scale(1.05);
}
.toggleCircle:active {
	transition: 0.1s all ease;
	opacity: 0.8;
}
.modeCircle {
	color: var(--color-blue);
	width: 30px;
}
.mode {
	transition: all 0.3s ease;
}
.mode {
	color: var(--white);
	position: absolute;
	left: 11%;
	top: 20%;
}
.moon {
	width: 18px;
}
